@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&family=Open+Sans:wght@300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--main-font: 'Open-Sans', sans-serif;
	--secondary-font: 'Noto Sans HK', sans-serif;
}

/*General Layout*/

input, select {
    padding: 0.25em;
}

select {
	width: fit-content;
}

h1 {
	text-align: center;
}

i[data-tooltip] {
	position: relative;
}

i[data-tooltip]::after {
	content: attr(data-tooltip);
	display: block;
	font-family: var(--main-font);
	font-weight: 300;
	font-size: 16px;
	position: absolute;
	width: 170px;
	padding: .7em;
	line-height: 1.1;
	border-radius: 5px;
	bottom: 0;
	left: 0;
	transform: scale(0);
	transition:
		transform ease-out 150ms,
		bottom ease-out 150ms;
}

i[data-tooltip]:focus::after {
	transform: scale(1);
	bottom: 100%;
}

.fa-info-circle {
	padding: 0.5em;
	font-size: 15px !important;
}

/*Navbars*/

input[name="welcome"] {
	width: 70%;
}

.welcome-name {
	font-weight: bold;
	padding: 0.8em;
}

.main-nav, .secondary-nav {
	font-family: var(--main-font);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.secondary-nav {
	padding-bottom: .8em;
}

.nav-link, .profile-link {
	text-decoration: none;
	margin: 0.5em;
}

.menu-icon {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.7em;
	font-size: 1.5em;
}

.no-show, .hide-option {
	display: none !important;
}

.menu-option {
	padding: 0.5em;
}

.name-input-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1em .8em;
	font-family: var(--main-font);
}

/*Text-revealing button*/

.main-text {
	padding: 2em;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.main-description {
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 12px;
	line-height: 1.7;
	padding: 1.5em;
	text-align: justify;
}

.no-text {
	opacity: 0;
}

.demo-button {
	display: inline-block;
	margin-top: 0.5em; 
	padding: 0.1em 0.3em;
}

.demo-info {
	text-align: center;
	display: inline-block;
}

.languages {
	font-weight: 600;
}

.scrimba {
	text-decoration: none;
}

/*Framed image loader*/

input[name="img-url"] {
	width: 85%;
}

input[name="frm-wdt"] {
	width: 65%;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1em;
}

.image-container {
	max-width: 300px;
	max-height: 300px;
	height: 300px;
	width: 300px;
	background-image: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1em;
	padding: 1em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.label-input {
	padding: 0.3em 0;
}

.text-clue {
	opacity: 0.5;
}

/*Gallery click*/

.gallery-image {
	width: 100%;
	padding-bottom: 2em;
	height: 300px;
	background-image: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Footer*/

.made-by {
	font-family: var(--secondary-font);
	text-align: center;
	padding: 0.5em 0 1.5em;
}

.credits {
	font-size: 10px !important;
}

.profiles {
	margin-top: 1.2em;
}

.profile-link {
	font-size: 1.8em;
	text-decoration: none;
	border-radius: 50%;
	padding: 0.3em;
	margin: 0.3em;
}

@media only screen and (min-width: 600px) {
	body {
		height: 100vh;
	}

	input {
		margin-left: 0.5em;
	}

	main {
		display: grid;
		grid-template-areas:
			'main card'
			'gall card';
		grid-template-columns: 1fr 1fr;
	}

	h1 {
		font-size: 2rem;
	}

	.fa-info-circle {
		font-size: 20px;
	}

	.menu-icon {
		display: none;
	}

	.nav-link:hover {
		font-weight: 600;
	}

	.secondary-nav {
		flex-direction: row;
		justify-content: space-around;
	}

	.name-input-div {
		justify-content: flex-start;
	}

	.main-info {
		grid-area: main;
		width: 100%;
	}

	.main-text {
		flex-direction: row;
		padding: 1.5em 0 1em;
	}

	.main-description {
		font-weight: 500;
		font-size: 1.2em;
		padding: 0 2em 1em 3em;
	}

	.languages {
		font-weight: 700;
	}

	#gallery {
		display: flex;
		justify-content: center;
		grid-area: gall;
	}

	.gallery-image {
		width: 80%;
	}

	.card {
		grid-area: card;
	}

	.demo-button:hover {
		outline: 2px solid var(--light-color);
		outline-offset: 4px;
	}

	i[data-tooltip]:hover::after {
		transform: scale(1);
		bottom: 100%;
	}

	.image-container {
		max-width: 400px;
		width: 400px;
	}

	.made-by {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em 4em;
	}

	.credits {
		font-size: 12x;
	}
	
	.profile-link {
		padding: 0.3em;
	}
}