@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&family=Open+Sans:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--main-font: 'Open-Sans', sans-serif;
	--secondary-font: 'Noto Sans HK', sans-serif;
}

/*General Layout*/

input {
    padding: 0.25em;
}

select {
    padding: 0.25em;
}

h1 {
	text-align: center;
}

i {
	font-size: 20px;
}

.fa-info-circle {
	padding: 0.5em;
}

i[data-tooltip] {
	position: relative;
}

i[data-tooltip]::after {
	content: attr(data-tooltip);
	display: block;
	font-size: 16px;
	position: absolute;
	background-color: gray;
	padding: .75em;
	font-family: var(--main-font);
	font-weight: 300;
	line-height: 1.1;
	color: white;
	border-radius: 5px;
	font-size: .8em;
	bottom: 0;
	left: 0;
	width: 180px;
	transform: scale(0);
	transition:
		transform ease-out 150ms,
		bottom ease-out 150ms;
}

i[data-tooltip]:focus::after {
		transform: scale(1);
		bottom: 100%;
}

/*Navbars*/

input[name="welcome"] {
	width: 70%;
}

.welcome-name {
	font-weight: bold;
}

.main-nav, .secondary-nav {
	font-family: var(--main-font);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1em;
}

.nav-link {
	text-decoration: none;
	margin: 0.5em;
}

.fa-hamburger {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.7em;
	font-size: 1.8em;
}

.no-show {
	display: none;
}

.name-input-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1em 0;
	font-family: var(--main-font);
}

/*Text-revealing button*/

.main-text {
	padding: 2em;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.main-description {
	line-height: 1.5;
	margin-top: 1em;
	text-align: justify;
}

.no-text {
	opacity: 0;
}

.demo-button {
	display: inline-block;
	margin-top: 0.5em; 
	padding: 0.1em 0.3em;
}

.demo-info {
	text-align: center;
	display: inline-block;
}

/*Framed image loader*/

input[name="img-url"] {
	width: 85%;
}

input[name="frm-wdt"] {
	width: 65%;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1em;
}

.image-container {
	max-width: 300px;
	max-height: 300px;
	height: 300px;
	width: 300px;
	background-image: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1em;
	padding: 1em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.label-input {
	padding: 0.3em 0;
}

.text-clue {
	opacity: 0.5;
}

/*Gallery click*/

.gallery-image {
	width: 100%;
	padding-bottom: 2em;
	height: 300px;
	width: 100%;
	background-image: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Footer*/

.made-by {
	font-family: var(--secondary-nav);
	text-align: center;
	font-size: 0.8em;
	padding: 0.5em 0 1.5em;
}

@media only screen and (min-width: 600px) {
	body {
		height: 100vh;
	}

	input {
		margin-left: 0.5em;
	}

	.fa-hamburger{
		top: -99;
	}

	.nav-link:hover {
		font-size: 1.1rem;
		transition: all 500ms;
	}

	.main-nav, .secondary-nav {
		flex-direction: row;
		justify-content: space-around;
		padding: 1em 0;
	}

	.name-input-div {
		justify-content: flex-start;
	}

	.main-text {
		flex-direction: row;
	}

	.main-description {
		text-align: center;
	}

	.demo-button:hover {
		outline: 2px solid var(--light-color);
		outline-offset: 4px;
	}

	i[data-tooltip]:hover::after {
		transform: scale(1);
		bottom: 100%;
	}

	.no-show {
		display: inline;
	}
}