:root {
	--dark-color: #302A3A;
	--back-color: #008080;
	--accent-color: #742228;
	--light-color: #fff;
}

/*cores pŕa testar: #302A3A e #742228*/

body {
    background-image: linear-gradient(to right, var(--dark-color), var(--accent-color));
    color: var(--light-color);
}

h1 {
	color: var(--back-color);
}

.main-nav {
	background-color: transparent;
	color: var(--light-color);
}

.secondary-nav {
	background-color: var(--accent-color);
	color: var(--light-color);
}

.secondary-nav {
	background-color: var(--dark-color);
}

.nav-link {
	color: var(--light-color);
}

.nav-link:hover, .nav-link:focus {
	color: var(--accent-color);
}

.name-input-div {
	background-color: var(--mid-color);
	color: var(--light-color);
}

.demo-button {
	border: 2px solid var(--back-color);
	border-radius: 5px;
	color: var(--light-color);
}

.card {
	background-color: transparent;
	color: var(--light-color);
}

.card input {
	background-color: var(--dark-color);
	color: var(--light-color);
}

.image-container {
	border: 1px solid var(--back-color);
}

.text-clue {
	color: var(--light-color);
}