:root {
	--dark-color: #073B4C;
	--back-color: #ffffff;
	--accent-color: #118AB2;
	--light-color: #FFD166;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
}

h1 {
	color: var(--back-color);
}

input {
	background-color: var(--dark-color);
	color: var(--light-color);
}

select {
	background-color: var(--dark-color);
	color: var(--light-color);	
}

.main-nav {
	background-color: var(--accent-color);
	color: var(--light-color);
}

.fa-hamburger {
	color: var(--back-color);
}

.secondary-nav {
	background-image: linear-gradient(to top, var(--dark-color), var(--accent-color));
	color: var(--light-color);
}

.secondary-nav, .secondary-nav input, .secondary-nav select {
	background-color: var(--dark-color);
}

.secondary-nav label {
	color: var(--back-color);
}

.nav-link {
	color: var(--light-color);
}

.nav-link:hover, .nav-link:focus {
	color: var(--accent-color);
}

.name-input-div {
	background-color: var(--mid-color);
	color: var(--light-color);
}

.demo-button {
	border: 2px solid var(--back-color);
	border-radius: 5px;
	color: var(--light-color);
}

.card {
	background-color: transparent;
	color: var(--light-color);
}

.image-container {
	border: 1px solid var(--back-color);
}

.text-clue {
	color: var(--back-color);
}

.fa-info-circle {
	color: var(--light-color);
}

.main-description {
	color: var(--light-color);
}

i[data-tooltip]::after {
	background-color: var(--back-color);
	color: var(--dark-color);