:root {
	--dark-color: #042a2b;
	--back-color: #5eb1bf;
	--accent-color: #ef7b45;
	--light-color: #cdedf6;
}

body {
   background-color: var(--back-color);
   color: var(--light-color);
}

h1 {
	color: var(--dark-color);
}

input {
	background-color: var(--dark-color);
	color: var(--light-color);
}

select {
	background-color: var(--dark-color);
	color: var(--light-color);	
}

.main-nav, .secondary-nav {
	background-color: var(--accent-color);
	color: var(--light-color);
}

.secondary-nav {
	background-color: var(--dark-color);
}

.nav-link {
	color: var(--light-color);
}

.nav-link:hover {
	outline: 1px solid var(--light-color);
}

.name-input-div {
	color: var(--light-color);
}

.demo-button {
	border: 2px solid var(--dark-color);
	border-radius: 5px;
	color: var(--light-color);
}

.card {
	background-color: var(--back-color);
	color: var(--dark-color);
}

.image-container {
	border: 1px solid var(--dark-color);
}

.text-clue {
	color: var(--dark-color);
}

.fa-info-circle {
	color: var(--accent-color);
}

.main-description {
	color: var(--light-color);
}

i[data-tooltip]::after {
	background-color: var(--light-color);
	color: var(--dark-color);
}